*.aps
*.log
*.ncb
*.opensdf
*.sdf
*.suo
*.user
*.opendb
*.VC.db

# static library output (MSVC, GCC--from core components like Common)
*.lib
*.a

# compiler-generated sources (MSVC, GCC)
*.asm
*.s

# assembled linker objects (GCC)
*.o

Thumbs.db
/.vs
/Bin/Debug64
/Bin/Release64
/build
/ipch
/Plugin/Video/lib
/Plugin/Video/map
/Plugin/Video/pdb
/Plugin/Video/NXEmu-Video.dll
/Plugin/Video/NXEmu-Video_d.dll
/Source/nxemu-core/Version.h
/Source/nxemu-video/Version.h
/Config/NXEmu.cfg
/Config/switch.keys
